LOAD_CONST 0 ; comentario
STORE_VAR x
READ
STORE_VAR x
LOAD_CONST 1
STORE_VAR fact
until:
LOAD_VAR fact
LOAD_VAR x
MUL
STORE_VAR fact
LOAD_VAR x
LOAD_CONST 1
SUB
STORE_VAR x
LOAD_VAR x
LOAD_CONST 0
SUB
JMPNE until
LOAD_VAR fact
PRINT


