LOAD_CONST 1
STORE_VAR a
LOAD_CONST 1
STORE_VAR b
LOAD_CONST 1
STORE_VAR i
LOAD_CONST 1
STORE_VAR aux
LOAD_CONST 0

STORE_VAR a
LOAD_CONST 1

STORE_VAR b
READ
STORE_VAR i
LOAD_VAR a

PRINT
label1:
LOAD_CONST 0

LOAD_VAR i

SUB
JMPLT label3
LOAD_CONST 0
JMP label4
label3:
LOAD_CONST 1
label4:

JMPEQ label2
LOAD_VAR i

LOAD_CONST 1

SUB

STORE_VAR i
LOAD_VAR b

LOAD_VAR a

ADD

STORE_VAR aux
LOAD_VAR b

STORE_VAR a
LOAD_VAR aux

STORE_VAR b
LOAD_VAR a

PRINT

JMP label1
label2:
