LOAD_CONST 0
STORE_VAR u
LOAD_CONST 0
STORE_VAR v
READ u
READ v
LOAD_VAR v
LOAD_CONST 0
SUB
JMPNE else
LOAD_CONST 0
STORE_VAR v
else:
repeat:
LOAD_VAR v
STORE_VAR temp
LOAD_VAR u
LOAD_VAR u
LOAD_VAR v
DIV
LOAD_VAR v
MUL
SUB
LOAD_VAR temp
STORE_VAR u
LOAD_VAR v
LOAD_CONST 0
SUB
JMPNE repeat
PRINT u
